# Ignore directories
input/
git/
envprivategpt/
.vscode/
input_dataset/
input_dataset_2/
HF_Models/
node_modules/
Colab_Model_Download/
wandb/
mlruns/
__MACOSX/
__pycache__/
.ipynb_checkpoints/
.next/
coverage/
build/
LARGE_Datasets/
Others_Code_gitignore/
YouTube_Experiments_Scripts/
Project-Note-PAUL/
.netlify/

# Ignore specific file types
*.h5
*.pyc
*.wav
*.mp3
*.bin
*.json
*.npy
*.db
*.pkl
*.hdf5
*.pt
*.csv
*.index
*.mov
*.mp4
*.m4v
*.srt
*.zip
*.gz
*.tgz
*.tar
*.7z
*.dcm
*.tiff
*.nii
*.rar
*.log
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.~lock*
code2prompt_output.txt
